@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-[#212121]
}

.circle {
  @apply w-[180px] h-[180px] md:w-[200px] md:h-[200px]  bg-[#212121] rounded-full relative
}

.circle-face {
  @apply absolute top-0 left-0 bottom-0 right-0 m-1.5
}

.circle-face-mark {
  @apply absolute top-0 left-[50%] bottom-0 right-[50%]
}

.table-border {
  border-collapse: collapse;
  border: none;
}

.table-border td,
.table-border th {
  border: 1px solid #393939;
}

th {
  border-top: none !important;
}

th:first-child{
  border-left: none !important;
}

th:last-child{
  border-right: none !important;
}

.table-border tr:first-child td {
  border-top: none;
}

.table-border tr:last-child td {
  border-bottom: none;
}

.table-border tr td:first-child {
  border-left: none;
}

.table-border tr td:last-child {
  border-right: none;
}